 /* 按钮 */
 .mixi-btn {
   display: inline-block;
   height: 38px;
   line-height: 38px;
   padding: 0 18px;
   background-color: #1E9FFF;
   color: #fff;
   white-space: nowrap;
   text-align: center;
   font-size: 14px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   outline: 0;
   -webkit-appearance: none;
   transition: all .3s;
   -webkit-transition: all .3s;
   box-sizing: border-box;
   vertical-align: middle;
 }

 .mixi-btn:hover {
   opacity: .8;
   filter: alpha(opacity=80);
   color: #fff;
 }

 .mixi-btn-primary {
   border: 1px solid #C9C9C9;
   background-color: #fff;
   color: #555
 }

 .mixi-btn-primary:hover {
   border-color: #009688;
   color: #333;
 }

 .mixi-btn-normal {
   background: #009688
 }

 .mixi-btn-success {
   background: #67c23a
 }

 .mixi-btn-warm {
   background: #FFB800
 }

 .mixi-btn-danger {
   background: #FF5722
 }

 .mixi-btn-disabled,
 .mixi-btn-disabled:hover {
   border: 1px solid #e6e6e6;
   background-color: #FBFBFB;
   color: #C9C9C9;
   cursor: not-allowed;
   opacity: 1;
 }

 /* 弹出层 */
 .mixi-dialog {
   z-index: 202022;
   min-width: 500px;
   min-height: 300px;
   position: fixed;
   -webkit-overflow-scrolling: touch;
   top: 50%;
   left: 50%;
   margin: 0;
   padding: 0;
   background-color: #fff;
   -webkit-background-clip: content;
   border-radius: 2px;
   box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
 }

 .mixi-dialog-header {
   position: relative;
 }

 .mixi-dialog-title {
   padding: 0 80px 0 20px;
   height: 42px;
   line-height: 42px;
   border-bottom: 1px solid #eee;
   font-size: 14px;
   color: #333;
   overflow: hidden;
   background-color: #F8F8F8;
   border-radius: 2px 2px 0 0;
 }

 .mixi-dialog-close {
   position: absolute;
   right: 10px;
   top: 12px;
   width: 20px;
   cursor: pointer;
   font-size: 20px;
   text-align: center;
   line-height: 18px;
 }

 .mixi-dialog-content {
   padding: 20px;
   line-height: 24px;
   word-break: break-all;
   overflow: hidden;
   font-size: 14px;
   overflow-x: hidden;
   overflow-y: auto;
 }

 .mixi-dialog-footer {
   text-align: right;
   padding: 0 15px 12px;
   width: 100%;
   bottom: 10px;
   box-sizing: border-box;
   pointer-events: auto;
   user-select: none;
   position: absolute;
   -webkit-user-select: none;
 }

 .mixi-dialog-mask {
   position: fixed;
   z-index: 202021;
   background-color: rgb(0, 0, 0);
   opacity: 0.3;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 /* 消息弹窗 */
 .mixi-message {
   min-width: 380px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-width: 1px;
   border-style: solid;
   border-color: #EBEEF5;
   position: fixed;
   left: 50%;
   top: 20px;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   background-color: #edf2fc;
   -webkit-transition: opacity .3s,
     top .4s,
     -webkit-transform .4s;
   transition: opacity .3s,
     top .4s,
     -webkit-transform .4s;
   transition: opacity .3s,
     transform .4s,
     top .4s;
   transition: opacity .3s,
     transform .4s,
     top .4s,
     -webkit-transform .4s;
   padding: 15px 15px 15px 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border-radius: 4px;
   overflow: hidden;
 }

 .mixi-message-content {
   margin-left: 16px;
 }

 .mixi-message-close {
   position: absolute;
   top: 50%;
   right: 15px;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   cursor: pointer;
   color: #C0C4CC;
   font-size: 16px;
 }

 /* 成功消息 */
 .mixi-message--success {
   background-color: #f0f9eb;
   border-color: #e1f3d8;
 }

 .mixi-message--success .mixi-message-content {
   color: #67C23A;
 }

 .mixi-message--success .mixi-message-icon {
   color: #67C23A;
 }

 /* 失败消息 */
 .mixi-message--error {
   background-color: #fef0f0;
   border-color: #fde2e2;
 }

 .mixi-message--error .mixi-message-content {
   color: #F56C6C;
 }

 .mixi-message--error .mixi-message-icon {
   color: #F56C6C;
 }

 /* 警告消息 */
 .mixi-message--warning {
   background-color: #fdf6ec;
   border-color: #faecd8;
 }

 .mixi-message--warning .mixi-message-content {
   color: #E6A23C
 }

 .mixi-message--warning .mixi-message-icon {
   color: #E6A23C
 }


 /* 表单 */
 .mixi-input,
 .mixi-select-title input,
 .mixi-textarea {
   display: block;
   width: 100%;
   padding-left: 10px;
 }

 .mixi-input,
 .mixi-select,
 .mixi-select-title input,
 .mixi-textarea {
   height: 38px;
   line-height: 1.3;
   line-height: 38px\9;
   border-width: 1px;
   border-style: solid;
   background-color: #fff;
   border-radius: 2px;
   border-color: #e6e6e6;
   outline: 0;
   -webkit-appearance: none;
   transition: all .3s;
   -webkit-transition: all .3s;
   box-sizing: border-box;
 }

 button,
 input,
 optgroup,
 option,
 select,
 textarea {
   font-family: inherit;
   font-size: inherit;
   font-style: inherit;
   font-weight: inherit;
   outline: 0;
 }


 .mixi-form-item {
   margin-bottom: 15px;
   clear: both;
 }

 .mixi-form-label,
 .mixi-input-block {
   position: relative;
 }

 .mixi-form-label {
   float: left;
   display: block;
   padding: 9px 15px;
   width: 80px;
   font-weight: 400;
   line-height: 20px;
   text-align: right;
 }

 .mixi-input-block {
   margin-left: 110px;
   min-height: 36px;
 }

 .mixi-require,
 .mixi-select-title .mixi-require,
 .mixi-require:hover {
   border: 1px solid #f00
 }

 [label-require]:before {
   content: "*";
   color: #f56c6c;
   margin-right: 4px;
 }

 /* select框 */

 .mixi-select-list {
   /* display: none; */
   display: block;
   position: absolute;
   left: 0;
   top: 42px;
   padding: 5px 0;
   z-index: 899;
   min-width: 100%;
   border: 1px solid #d2d2d2;
   max-height: 300px;
   overflow-y: auto;
   background-color: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
   box-sizing: border-box;
   animation-name: mixi-upbit;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }

 .mixi-select {
   display: none;
 }

 .mixi-select-list {
   display: none;
 }

 .mixi-form-selected .mixi-select-list {
   display: block;
 }

 .mixi-form-selected .mixi-edge {
   margin-top: -12px;
   right: -2px;
   transform: rotate(180deg);
 }

 .mixi-edge {
   font-size: 24px !important;
   position: absolute;
   right: 5px;
   top: 50%;
   margin-top: -15px;
   cursor: pointer;
   border-width: 6px;
   color: #c2c2c2;
   border-top-style: solid;
   transition: all .3s;
   -webkit-transition: all .3s;
   display: inline-block;
   width: 16px;
   height: 16px;
   border-width: 6px;
   border-style: dashed;
   vertical-align: middle;
   border-color: transparent;
 }

 .mixi-select-title input {
   padding-right: 30px;
   cursor: pointer;
 }

 .mixi-select-list dd {
   padding: 0 10px;
   line-height: 36px;
   white-space: nowrap;
   overflow: hidden;
   cursor: pointer;
   margin: 0;
   text-overflow: ellipsis;
 }

 .mixi-select-list dd:hover {
   background-color: #f2f2f2;
   -webkit-transition: .5s all;
   transition: .5s all;
 }

 .mixi-select-list dd.mixi-this {
   background-color: #5FB878;
   color: #fff;
 }

 /* 开关 */
 .mixi-switch {
   display: none;
 }

 .mixi-form-switch {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   height: 22px;
   line-height: 22px;
   min-width: 35px;
   padding: 0 5px;
   margin-top: 8px;
   border: 1px solid #d2d2d2;
   border-radius: 20px;
   cursor: pointer;
   background-color: #fff;
   -webkit-transition: .1s linear;
   transition: .1s linear;
 }

 .mixi-form-switch em {
   position: relative;
   top: -1px;
   width: 25px;
   margin-left: 21px;
   padding: 0 !important;
   text-align: center !important;
   color: #999 !important;
   font-style: normal !important;
   font-size: 12px;
 }

 .mixi-form-switch i {
   position: absolute;
   left: 5px;
   top: 3px;
   width: 16px;
   height: 16px;
   border-radius: 20px;
   background-color: #d2d2d2;
   -webkit-transition: .1s linear;
   transition: .1s linear;
 }

 .mixi-form-onswitch {
   border-color: #5FB878;
   background-color: #5FB878;
 }

 .mixi-form-onswitch em {
   margin-left: 5px;
   margin-right: 21px;
   color: #fff !important;
 }

 .mixi-form-onswitch i {
   left: 100%;
   margin-left: -21px;
   background-color: #fff;
 }

 /* 页顶滑块 */
 .mixi-topslider {
   position: fixed;
   top: 0;
   left: 0;
   cursor: pointer;
   width: 100%;
   height: 2px;
   background: #354052;
 }

 .mixi-topslider:hover {
   animation-name: mixi-slider-downbit;
   -webkit-animation-duration: .5s;
   animation-duration: .5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }

 /* 动画 */

 @keyframes mixi-upbit {
   0% {
     transform: translate3d(0, 30px, 0);
     opacity: .3;
   }

   100% {
     transform: translate3d(0, 0, 0);
     opacity: 1;
   }
 }

 @keyframes mixi-slider-downbit {
   0% {
     height: 2px;
     opacity: 0.3;
   }

   100% {
     height: 50px;
     opacity: 1;
   }
 }

 @keyframes mixi-slider-upbit {
   0% {
     height: 50px;
     opacity: 0.3;
   }

   100% {
     height: 2px;
     opacity: 1;
   }
 }